.jcarousel-skin-zbych .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-zbych .jcarousel-clip-horizontal {
    width:  99%;
}


.jcarousel-next-horizontal {
    width: 37px;
    height: 37px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    background: transparent url(zbych_next.png) no-repeat 0 0;
}


.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    background: transparent url(zbych_next_hover.png) no-repeat 0 0;
}

.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    background-image: url(zbych_next_hover.png);
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-image: url(zbych_next_hover.png);
}

.jcarousel-prev-horizontal {
    width: 37px;
    height: 37px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    background: transparent url(zbych_previous.png) no-repeat 0 0;
}

.jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(zbych_previous.png);
}

.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {
    background-image: url(zbych_previous_hover.png);
}

.jcarousel-prev-horizontal:active {
    background-image: url(zbych_previous_hover.png);
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-image: url(zbych_previous_hover.png);
}

